<div class="container-fluid" height=100% item-width=100%>
  <div class="row">
    <md-toolbar color="primary">
      <div>
        <img src="assets/sauron.png" height="40" width="40">
        <span class="mdl-display-2">{{title}}</span>
      </div>
    </md-toolbar>
  </div>
  <md-card>
    <md-card-subtitle>
      <div style="width:50%; margin-left:auto; margin-right:auto;">
        <input md-input #search style="width:80%" placeholder="This is the search you are looking for!" name="searchInput" [(ngModel)]="this.searchQuery"
          (keyup.enter)="onSearch(search.value)" />
        <button md-mini-fab (click)="onSearch(search.value)"><md-icon>search</md-icon></button>
      </div>
    </md-card-subtitle>
    <md-card-content>
      <div *ngIf="rankings">
        <md-list dense>
          <md-list-item *ngFor="let ranking of rankings; let i = index">
            <md-icon md-list-icon>http</md-icon>
            <h2 md-line> #{{i + 1}} Relevance: {{ranking.score | number: '1.2-2'}}</h2>
            <div md-line class="md-list-item-text"layout="column" mdTooltip={{ranking.text}} [mdTooltipPosition]="position">
              <span>{{ranking.text}}</span>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </md-card-content>
  </md-card>
</div>
